@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-backgorund: #222222;
    --menu-color: #ffffff;


    --general-font: poppinsregular;
    --main-title-font: poppinsmedium;
}

body {
    max-width: 1200px;
    background-color: var(--body-backgorund);
    font-family: var(--general-font);
    color: white;
    margin: 0 auto;
    padding: 10px;
}


/* Cabeçalho*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.title {
    line-height: 31px;
}

.title a {
    color: var(--menu-color);
}

.title h1 {
    font-weight: 200;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav a {
    display: block;
    padding: 5px 15px;
    margin-right: 20px;
    color: var(--menu-color);

}

nav a:hover {
    color: #840ec9; 
    transition: 0.3s;
}

nav a:active {
    opacity: 0.4;
}

nav a:nth-child(1) {
    margin-left: 10px;
}

nav a:nth-child(5) {
    border: 2px solid #840ec9;
    border-radius: 25px;
}

nav a:nth-child(5):hover {
    background-color: #840ec9;
    color: #ffffff;
}


/* Principal */

main {
    display: flex;
    margin-top: 50px;
}

.container-content h1 {
    font-size: 3.5em;
    line-height: 54px;
    font-family: var(--main-title-font);
}

.container-content span {
    color: #840ec9;
}

.container-content p {
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 18px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    width: 369px;
}

input {
    margin-top: 20px;
    padding: 20px;  
    border-radius: 35px;
    border: none;
    font-size: 15px;
    outline: none;
}

button {
    width: 50%;
    max-width: 174px;
    height: 50px;
    margin-top: 20px;
    background-color: #840ec9;
    color: #ffffff;
    border: none;
    border-radius: 35px;    
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

button:active {
    opacity: 0.4;
}

img {
    max-width: 100%;
}



@media (max-width: 837px) {

    header .title {
        margin: 0 auto;
        font-size: 20px;
        line-height: 1;
    }

    nav {
        text-align: center;
        margin-inline: auto;
        margin-top: 40px;
    }

    main {
        display: block;

    }

    /* .container-image {
        margin-top: 40px;
        display: flex;

    } */

    /* img {
        width: 100%;
        max-width: 550px;
    } */

    img {
        display: none;
    }

    .conteudo h1, p {
        text-align: center;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 629px;
        margin: 0 auto;
    }

    button {
        width: 100%;
        max-width: 631px;
    }

    .image {
        margin: 0 auto;
    }
}
